.newcont {
    background-color: darkcyan;
}


/* .menu {
    width: 70%;
    float: right;
    font-size: 18px;
} */

.valor p {
    width: 1040px;
    margin: right;
    font-size: 50px;
    color: black;
    text-align: center;
}

.nav {
    width: 1040px;
    margin-top: 20px;
    margin-left: -330px;
    border-radius: 5px;
}

.nav .move1 button {
    margin-left: 130px;
    margin-top: 20px;
}


/* .nav .move2 button {
    margin-left: 700px;
    margin-top: 20px;
    border-radius: 5px;
} */


/* .nav .blog {
    text-align: left;
} */

.cambio {
    background-color: royalblue;
}