.rutaformulario {
    margin-top: 20px;
}


/* .newformulario {


} */

form {
    width: 700px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
    margin-bottom: 140px;
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"] {
    padding: 3px 10px;
    border: 1px solid burlywood;
    border-radius: 3px;
    background-color: burlywood;
    display: inline-block;
}

.cambio3 {
    text-align: center;
    color: white;
    font-size: large;
}