.rutaformulario {
    margin-top: 20px;
}


/* .newformulario {


} */

form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
    margin-bottom: 140px;
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}