<div class="valor">
    <div class="change">
        <select (change)="onChange($event)">
            
            <option value="todos">TODAS LAS CATEGORIAS</option>
            <option [value]="categoria" *ngFor="let categoria of listadoCat">
                <div>
                    {{ categoria }}
                </div>
               
            </option>
        </select>

        <div class="listapost">
            <div class="listaheroes" *ngFor="let id of listaPost" [ngStyle]="{ backgroundImage: 'url('+ id.imagen + ')'}" [routerLink]="['/blog']">
                <h3>{{ id.categoria }}</h3>
            </div>

        </div>

        <div>
            <p><span>los mejores post</span></p>
        </div>



    </div>