.listapost {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.listaheroes {
    width: 200px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    height: 300px;
    background-size: cover;
    color: white;
}

.listaheroes img {
    width: 100%;
}

.listaheroes h3 {
    text-align: center;
    top: auto;
    text-align: center;
}


/* .listaheroes p {
    text-align: right;
}  */

.valor {
    display: inline;
    float: left;
}

.change {
    background-color: slategray;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}